<!--

Full feature instructions can be found on the SE Gamer "FAQ" tab at:
https://www.phpbb.com/customise/db/style/se_gamer_light

<!-- DEFINE $BOARD_WIDTH = '80%' --> Options: Any % | Any 'px' value not below 900px
<!-- DEFINE $MAX_BOARD_WIDTH = '1400px' --> Only use if board width is a percentage. See ReadMe file for details
<!-- DEFINE $LOGO_TYPE = 'logo' --> Options: Logo | Text
<!-- DEFINE $LOGO_POSITION = 'left' --> Options: Left | Center | Right
<!-- DEFINE $SHOW_SEARCH_IN_NAV = 'yes' --> Options: Yes | No
<!-- DEFINE $COLLAPSIBLE_CATEGORIES = 'on' --> Options: On | Off
<!-- DEFINE $MODERATOR_COLUMN_ON_INDEX = 'no' --> Options: Yes | No (won't work if both sidebars are enabled)
<!-- DEFINE $SIDEBARS = 'none' --> Options: Left | Right | Both | Off
<!-- DEFINE $SIDEBAR_ON_PAGES = 'index' --> Options: Global | Index
<!-- DEFINE $PROFILE_SIDE = 'left' -->

-->